*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei";
}
.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.border{
    /*border: 1px solid #8a8a8a;*/
    border-bottom: 1px solid #8a8a8a;
}
::-webkit-scrollbar{
    display: none;
}